test1
[{"id":"afdea917c7cd264a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"31f6954d74f63f4d","type":"mqtt in","z":"afdea917c7cd264a","name":"Temperature","topic":"home/temperature","qos":"2","datatype":"auto-detect","broker":"65f9f9d758bb8bed","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":280,"wires":[["2a105c2f31e76d24"]]},{"id":"2a105c2f31e76d24","type":"ui_gauge","z":"afdea917c7cd264a","name":"Temperatura","group":"3b8a597cb0e8d550","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-20","max":"30","colors":["#9dc7e1","#cdcdc6","#d5bc44"],"seg1":"1","seg2":"10","diff":false,"className":"","x":610,"y":280,"wires":[]},{"id":"c9de12b85a42d031","type":"mqtt out","z":"afdea917c7cd264a","name":"","topic":"custom-sensor-test/switch/led/command","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"65f9f9d758bb8bed","x":1400,"y":740,"wires":[]},{"id":"ca3e9ea0603d4ee5","type":"inject","z":"afdea917c7cd264a","name":"OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"home","payload":"on","payloadType":"str","x":270,"y":600,"wires":[["c9de12b85a42d031","c87efaaaf9e6ae78","3e58a3674aedd6ef"]]},{"id":"53664bf49c6549cb","type":"inject","z":"afdea917c7cd264a","name":"ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"home","payload":"off","payloadType":"str","x":270,"y":660,"wires":[["c9de12b85a42d031","a35e953970b648e0","122db3f20c80b628"]]},{"id":"f83099ca6af95516","type":"mqtt in","z":"afdea917c7cd264a","name":"Test","topic":"esp8266-test1/switch/relay1/command","qos":"2","datatype":"auto-detect","broker":"65f9f9d758bb8bed","nl":false,"rap":true,"rh":0,"inputs":0,"x":350,"y":420,"wires":[["945ad6bdbc37d9c5"]]},{"id":"945ad6bdbc37d9c5","type":"debug","z":"afdea917c7cd264a","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":420,"wires":[]},{"id":"89750ea6e30b2554","type":"telegram command","z":"afdea917c7cd264a","name":"Comando de prueba","command":"/prueba","description":"Comando de prueba","registercommand":true,"language":"","scope":"default","bot":"46cc2340357c2156","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":350,"y":820,"wires":[["a7e4754e0a0779ba","98dd8fd9ac0dddc2"],[]]},{"id":"a7e4754e0a0779ba","type":"debug","z":"afdea917c7cd264a","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":780,"wires":[]},{"id":"fdc2bf529c533747","type":"telegram sender","z":"afdea917c7cd264a","name":"Sender bot","bot":"46cc2340357c2156","haserroroutput":false,"outputs":1,"x":850,"y":880,"wires":[[]]},{"id":"98dd8fd9ac0dddc2","type":"function","z":"afdea917c7cd264a","name":"function 1","func":"msg.payload = {}\nmsg.payload.type = \"message\"\nmsg.payload.chatId = \"582197221\"\nmsg.payload.content = \"respuesta a tu mensaje\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":880,"wires":[["fdc2bf529c533747"]]},{"id":"c484aea30d092c09","type":"telegram command","z":"afdea917c7cd264a","name":"Comando de luz","command":"/luz","description":"Comando apagado de luz","registercommand":true,"language":"","scope":"default","bot":"46cc2340357c2156","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":360,"y":1060,"wires":[["7d088161c551b779"],[]]},{"id":"7d088161c551b779","type":"switch","z":"afdea917c7cd264a","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":" on","vt":"str"},{"t":"eq","v":" off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1060,"wires":[["f81601e4d9636e3e","3e58a3674aedd6ef","e2fc28cf71b19b85","e7046a3b3a856f6e","a20ceba5e88156c0"],["122db3f20c80b628","6a8636022a368433","f81601e4d9636e3e","e65a642ede173e55"]]},{"id":"f81601e4d9636e3e","type":"api-call-service","z":"afdea917c7cd264a","name":"","server":"b013ee0c.42c52","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":["db5e0fc5b3673ec941f0f4829b3a1ff2"],"entityId":["switch.custom_sensor_test_led"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1200,"wires":[[]]},{"id":"3e58a3674aedd6ef","type":"debug","z":"afdea917c7cd264a","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":800,"wires":[]},{"id":"122db3f20c80b628","type":"debug","z":"afdea917c7cd264a","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":840,"wires":[]},{"id":"e2fc28cf71b19b85","type":"telegram sender","z":"afdea917c7cd264a","name":"Sender bot","bot":"46cc2340357c2156","haserroroutput":false,"outputs":1,"x":1310,"y":1180,"wires":[[]]},{"id":"6a8636022a368433","type":"telegram sender","z":"afdea917c7cd264a","name":"Sender bot","bot":"46cc2340357c2156","haserroroutput":false,"outputs":1,"x":890,"y":1320,"wires":[[]]},{"id":"c87efaaaf9e6ae78","type":"function","z":"afdea917c7cd264a","name":"function 2","func":"msg.payload = {}\nmsg.payload.type = \"message\"\nmsg.payload.chatId = \"582197221\"\nmsg.payload.content = \"Apagando LED\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":500,"wires":[["73a494f92e322fcc"]]},{"id":"a35e953970b648e0","type":"function","z":"afdea917c7cd264a","name":"function 3","func":"msg.payload = {}\nmsg.payload.type = \"message\"\nmsg.payload.chatId = \"582197221\"\nmsg.payload.content = \"Encendiendo LED\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":560,"wires":[["73a494f92e322fcc"]]},{"id":"73a494f92e322fcc","type":"telegram sender","z":"afdea917c7cd264a","name":"Sender bot","bot":"46cc2340357c2156","haserroroutput":false,"outputs":1,"x":650,"y":500,"wires":[[]]},{"id":"621f57cbd49fc437","type":"ui_switch","z":"afdea917c7cd264a","name":"Switch LED","label":"switch","tooltip":"","group":"3b8a597cb0e8d550","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":" on","onvalueType":"str","onicon":"","oncolor":"","offvalue":" off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":590,"y":1540,"wires":[["a9034eb8db2bb853"]]},{"id":"a9034eb8db2bb853","type":"mqtt out","z":"afdea917c7cd264a","name":"LED","topic":"custom-sensor-test/switch/led/command","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"65f9f9d758bb8bed","x":870,"y":1600,"wires":[]},{"id":"e7046a3b3a856f6e","type":"mqtt out","z":"afdea917c7cd264a","name":"","topic":"custom-sensor-test/switch/led/command","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"65f9f9d758bb8bed","x":1320,"y":980,"wires":[]},{"id":"e46f9529df663146","type":"inject","z":"afdea917c7cd264a","name":"ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"home","payload":"on","payloadType":"str","x":590,"y":1400,"wires":[["3d3a792fbf078cb5"]]},{"id":"ce27e904522a8906","type":"inject","z":"afdea917c7cd264a","name":"ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"home","payload":"off","payloadType":"str","x":586,"y":1444,"wires":[["3d3a792fbf078cb5"]]},{"id":"3d3a792fbf078cb5","type":"mqtt out","z":"afdea917c7cd264a","name":"","topic":"custom-sensor-test/switch/led/command","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"65f9f9d758bb8bed","x":860,"y":1420,"wires":[]},{"id":"a20ceba5e88156c0","type":"change","z":"afdea917c7cd264a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1040,"wires":[["e7046a3b3a856f6e"]]},{"id":"e65a642ede173e55","type":"change","z":"afdea917c7cd264a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1080,"wires":[["e7046a3b3a856f6e"]]},{"id":"b4cc325a1924e451","type":"inject","z":"afdea917c7cd264a","name":"10","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":310,"y":100,"wires":[["b1dba3517de0ec17"]]},{"id":"e60ef7992ebef893","type":"inject","z":"afdea917c7cd264a","name":"1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":290,"y":180,"wires":[["b1dba3517de0ec17"]]},{"id":"b1dba3517de0ec17","type":"mqtt out","z":"afdea917c7cd264a","name":"","topic":"home/test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"65f9f9d758bb8bed","x":500,"y":120,"wires":[]},{"id":"290c2cf3c826b11b","type":"mqtt in","z":"afdea917c7cd264a","name":"Temperature","topic":"home/test","qos":"2","datatype":"auto-detect","broker":"65f9f9d758bb8bed","nl":false,"rap":true,"rh":0,"inputs":0,"x":690,"y":120,"wires":[["021ee09b8ecf83b7","294657420a57f964"]]},{"id":"021ee09b8ecf83b7","type":"function","z":"afdea917c7cd264a","name":"function 4","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":100,"wires":[[]]},{"id":"12d3685b58812c05","type":"telegram sender","z":"afdea917c7cd264a","name":"Sender bot","bot":"46cc2340357c2156","haserroroutput":false,"outputs":1,"x":1570,"y":160,"wires":[[]]},{"id":"f30861b894196c32","type":"function","z":"afdea917c7cd264a","name":"function 5","func":"msg.payload = {}\nmsg.payload.type = \"message\"\nmsg.payload.chatId = \"582197221\"\nmsg.payload.content = \"La temperatura es menor a 5 grados\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":140,"wires":[["12d3685b58812c05"]]},{"id":"294657420a57f964","type":"function","z":"afdea917c7cd264a","name":"function 6","func":"// Input message containing the MQTT payload\nvar inputMsg = msg.payload;\n\n// Define the threshold value\nvar threshold = 5; // Change this to your desired threshold\n\n// Compare the MQTT message value to the threshold\nif (inputMsg < threshold) {\n    // MQTT message is greater than the threshold\n    msg.payload = \"1\";\n} else {\n    // MQTT message is less than or equal to the threshold\n    msg.payload = \"0\";\n}\n\n// Send the modified message to the next node\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":160,"wires":[["55ebf1c4ebb656a1"]]},{"id":"6e9a8ebb5d866251","type":"debug","z":"afdea917c7cd264a","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":300,"wires":[]},{"id":"55ebf1c4ebb656a1","type":"switch","z":"afdea917c7cd264a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":160,"wires":[["f30861b894196c32","6e9a8ebb5d866251"],[]]},{"id":"3cfca6c87301ab3b","type":"ui_spacer","z":"afdea917c7cd264a","name":"spacer","group":"3b8a597cb0e8d550","order":1,"width":1,"height":1},{"id":"65f9f9d758bb8bed","type":"mqtt-broker","name":"Mosquitto_Homeassistant","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3b8a597cb0e8d550","type":"ui_group","name":"Group 1","tab":"9cae46729cb9b910","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"46cc2340357c2156","type":"telegram bot","botname":"Manhattan88","usernames":"","chatids":"582197221","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"b013ee0c.42c52","type":"server","name":"Home Assistant","addon":true},{"id":"9cae46729cb9b910","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
